* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  margin-left: 30px;
  margin-top: 30px;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.form-input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  margin-right: 20px;
  padding: 10px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
   display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  box-shadow: 4px 4px 14px 6px rgba(37, 73, 101, 0.26);
  border-radius: 4px;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.overview {
    background-color: #fff;
    color:rgba(0, 0, 0, 0.7);
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}